---
import { fetchGalleries } from '@utils/fetchGalleries';
import { fetchPhotos } from '@utils/fetchPhotos';
import { prettyDate } from '@utils/prettyDate';
import Layout from '@layouts/Layout.astro';
import Masonry from '@components/Masonry.astro';
import H1 from '@components/H1.astro';
import ActionGroup from '@components/ActionGroup.astro';

export async function getStaticPaths() {
  const galleries = await fetchGalleries();

  return galleries.map((gallery) => ({
    params: {
      artist: gallery.artistSlug,
      venue: gallery.venueSlug,
      date: gallery.date
    },
    props: {
      gallery
    }
  }));
}

const { artist, artistSlug, venue, venueSlug, city, citySlug, date, country } = Astro.props.gallery;
const photos = await fetchPhotos({ artist, artistSlug, venue, venueSlug, city, citySlug, date });

const masonryData = {
  images: photos,
  citySlug,
  artist,
  artistSlug,
  date,
  country
};
const maxFontSize = artist.length < 10 ? 'medium' : 'large';
---

<Layout>
  <article>
    <H1 scale={true} maxFontSize={maxFontSize}>{artist}</H1>
    <div>
      <h2>{venue}, {city}, {country}</h2>
      <time datetime='2018-07-07'>{prettyDate(date, 'extended')}</time>
    </div>

    <ActionGroup openTo='bottom' />

    <Masonry data={masonryData} />

    <ActionGroup openTo='top' />
  </article>

  <style>
    h2 {
      display: inline-block;

      &::after {
        content: ' // ';
      }
    }
  </style>
</Layout>
