---
import { fetchGalleries } from '@utils/fetchGalleries';
import { fetchPhotos } from '@utils/fetchPhotos';
import Layout from '@layouts/Layout.astro';
import Masonry from '@components/Masonry.astro';
import PageTitle from '@components/PageTitle.astro';

export async function getStaticPaths() {
  const galleries = await fetchGalleries();

  return galleries.map((gallery) => ({
    params: {
      artist: gallery.artistSlug,
      venue: gallery.venueSlug,
      date: gallery.date
    },
    props: {
      gallery
    }
  }));
}

const { artist, artistSlug, venue, venueSlug, city, citySlug, date } = Astro.props.gallery;

const photos = await fetchPhotos({ artist, artistSlug, venue, venueSlug, city, citySlug, date });

console.log(citySlug);
---

<Layout>
  <PageTitle scale={true}>{artist}</PageTitle>
  <p>Artist: {artist}</p>
  <p>Venue: {venue}</p>
  <p>Date: {date}</p>

  <Masonry images={photos} citySlug={citySlug} title={artist} artistSlug={artistSlug} date={date} />
</Layout>
